.main5 {
    border: 3px solid;
    width: auto;
    height: 90vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2007%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient2008)'%3e%3c/rect%3e%3cpath d='M0 440.71L10 440.63L20 423.36L30 348.53L40 353.34L50 459.69L60 422.65L70 337.41L80 334.99L90 221.53L100 204.58L110 277.21L120 387.6L130 506.42L140 597.21L150 485.1L160 468.92L170 356.88L180 458.78L190 580.45L200 618.81L210 548.54L220 571.43L230 640.58L240 531.25L250 494.4L260 452.28L270 319.17L280 382.01L290 330.79L300 361.48L310 404.21L320 415.94L330 299.19L340 326.26L350 448.77L360 565.2L370 446.69L380 336.66L390 365.37L400 497.32L410 575.57L420 645.6L430 591.63L440 716.13L450 796.89L460 863.4L470 753.89L480 635.52L490 604.63L500 563.54L510 484.23L520 564.95L530 658.06L540 747.46L550 760.02L560 660.48L570 601.5L580 570.87L590 632.72L600 532.2L610 553.36L620 613.97L630 522.83L640 423.62L650 439.07L660 554.96L670 556.06L680 581.03L690 509.07L700 438.57L710 413.07L720 515.8L730 586.47L740 687.05L750 572.52L760 491.17L770 397.48L780 300.56L790 198.68L800 306.56L810 292.34L820 407.61L830 306.3L840 381.05L850 282.89L860 212.39L870 145.84L880 248.54L890 291.62L900 271.93L910 293.79L920 267.14L930 348.56L940 371.54L950 302.1L960 378.93L970 475.3L980 491.99L990 402.56L1000 492.36L1010 413.34L1020 388.76L1030 440L1040 540.32L1050 522.8L1060 644.41L1070 777.17L1080 663.75L1090 681.55L1100 695.12L1110 792.47L1120 846.76L1130 766.27L1140 855.24L1150 895.98L1160 985.13L1170 997.22L1180 981.44L1190 876.16L1200 863.72L1210 821.11L1220 697.68L1230 678.2L1240 617.12L1250 551.11L1260 429.22L1270 319.44L1280 413.71L1290 355.87L1300 396.64L1310 346.66L1320 259.97L1330 193.34L1340 315.9L1350 231.81L1360 262.23L1370 226.98L1380 250.94L1390 278.88L1400 321.36L1410 305.05L1420 186.23L1430 286.84L1440 286.96L1450 236.79L1460 317.2L1470 314.2L1480 398.9L1490 359.66L1500 448.06L1510 443.09L1520 533.16L1530 560.58L1540 576.71L1550 449.64L1560 482.39L1570 582.26L1580 542.98L1590 621.38L1600 571.94L1610 460.35L1620 502.11L1630 447.57L1640 494.26L1650 603.42L1660 720.48L1670 666.43L1680 683.28L1690 793.1L1700 829.93L1710 924.08L1720 795.71L1730 726.27L1740 620.72L1750 636.81L1760 688.4L1770 666.46L1780 621.19L1790 604.66L1800 476.29L1810 486.88L1820 438.25L1830 470.85L1840 477.93L1850 486.78L1860 430.65L1870 394.86L1880 482.54L1890 400.92L1900 483.42L1910 576.72L1920 640.12' stroke='rgba(3%2c 254%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 440.71L10 440.63L20 423.36L30 348.53L40 353.34L50 459.69L60 422.65L70 337.41L80 334.99L90 221.53L100 204.58L110 277.21L120 387.6L130 506.42L140 597.21L150 485.1L160 468.92L170 356.88L180 458.78L190 580.45L200 618.81L210 548.54L220 571.43L230 640.58L240 531.25L250 494.4L260 452.28L270 319.17L280 382.01L290 330.79L300 361.48L310 404.21L320 415.94L330 299.19L340 326.26L350 448.77L360 565.2L370 446.69L380 336.66L390 365.37L400 497.32L410 575.57L420 645.6L430 591.63L440 716.13L450 796.89L460 863.4L470 753.89L480 635.52L490 604.63L500 563.54L510 484.23L520 564.95L530 658.06L540 747.46L550 760.02L560 660.48L570 601.5L580 570.87L590 632.72L600 532.2L610 553.36L620 613.97L630 522.83L640 423.62L650 439.07L660 554.96L670 556.06L680 581.03L690 509.07L700 438.57L710 413.07L720 515.8L730 586.47L740 687.05L750 572.52L760 491.17L770 397.48L780 300.56L790 198.68L800 306.56L810 292.34L820 407.61L830 306.3L840 381.05L850 282.89L860 212.39L870 145.84L880 248.54L890 291.62L900 271.93L910 293.79L920 267.14L930 348.56L940 371.54L950 302.1L960 378.93L970 475.3L980 491.99L990 402.56L1000 492.36L1010 413.34L1020 388.76L1030 440L1040 540.32L1050 522.8L1060 644.41L1070 777.17L1080 663.75L1090 681.55L1100 695.12L1110 792.47L1120 846.76L1130 766.27L1140 855.24L1150 895.98L1160 985.13L1170 997.22L1180 981.44L1190 876.16L1200 863.72L1210 821.11L1220 697.68L1230 678.2L1240 617.12L1250 551.11L1260 429.22L1270 319.44L1280 413.71L1290 355.87L1300 396.64L1310 346.66L1320 259.97L1330 193.34L1340 315.9L1350 231.81L1360 262.23L1370 226.98L1380 250.94L1390 278.88L1400 321.36L1410 305.05L1420 186.23L1430 286.84L1440 286.96L1450 236.79L1460 317.2L1470 314.2L1480 398.9L1490 359.66L1500 448.06L1510 443.09L1520 533.16L1530 560.58L1540 576.71L1550 449.64L1560 482.39L1570 582.26L1580 542.98L1590 621.38L1600 571.94L1610 460.35L1620 502.11L1630 447.57L1640 494.26L1650 603.42L1660 720.48L1670 666.43L1680 683.28L1690 793.1L1700 829.93L1710 924.08L1720 795.71L1730 726.27L1740 620.72L1750 636.81L1760 688.4L1770 666.46L1780 621.19L1790 604.66L1800 476.29L1810 486.88L1820 438.25L1830 470.85L1840 477.93L1850 486.78L1860 430.65L1870 394.86L1880 482.54L1890 400.92L1900 483.42L1910 576.72L1920 640.12L1920 1080L0 1080z' fill='url(%23SvgjsLinearGradient2009)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2007'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2008'%3e%3cstop stop-color='rgba(65%2c 67%2c 71%2c 0.64)' offset='0.76'%3e%3c/stop%3e%3cstop stop-color='rgba(31%2c 31%2c 34%2c 0.93)' offset='0.97'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' id='SvgjsLinearGradient2009'%3e%3cstop stop-opacity='0.65' stop-color='rgba(3%2c 254%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='%23e6ffff' offset='0.8'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.within5 {
    border: 3px dashed;
    width: auto;
    height: -webkit-fill-available;
    margin: 3%;
    padding-top: 1rem;
    color: #ffffff;
    position: relative;
}

.container5 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.techsTitle {
    font-size: 4rem;
    font-weight: 500;
    flex: auto;
}

.containerTechs5 {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10%;
}

.itemTechs {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    margin: 1rem;
    flex-direction: column;
}

.textTech {
    margin-top: inherit;
}

.imageTech {
    max-width: 12rem;
    -moz-animation: spinHorizontal 10s infinite linear;
    -o-animation: spinHorizontal 10s infinite linear;
    -webkit-animation: spinHorizontal 10s infinite linear;
    animation: spinHorizontal 10s infinite linear;
}

@-moz-keyframes spinHorizontal {
    0% {
        -moz-transform: rotateY(0deg);
    }
    100% {
        -moz-transform: rotateY(360deg);
    }
}

@keyframes spinHorizontal {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@-ms-keyframes spinHorizontal {
    0% {
        -ms-transform: rotateY(0deg);
    }
    100% {
        -ms-transform: rotateY(360deg);
    }
}

@-o-keyframes spinHorizontal {
    0% {
        -o-transform: rotateY(0deg);
    }
    100% {
        -o-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinHorizontal {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}