.main4 {
    border: 3px solid;
    width: auto;
    height: 90vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1609%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(156%2c 170%2c 185%2c 0.58)'%3e%3c/rect%3e%3cpath d='M51.67 -88.65L130.48 -43.15L130.48 47.85L51.67 93.35L-27.14 47.85L-27.14 -43.15zM51.67 1003.35L130.48 1048.85L130.48 1139.85L51.67 1185.35L-27.14 1139.85L-27.14 1048.85zM209.29 184.35L288.1 229.85L288.1 320.85L209.29 366.35L130.48 320.85L130.48 229.85zM366.91 -88.65L445.72 -43.15L445.72 47.85L366.91 93.35L288.1 47.85L288.1 -43.15zM445.72 593.85L524.53 639.35L524.53 730.35L445.72 775.85L366.91 730.35L366.91 639.35zM524.53 457.35L603.34 502.85L603.34 593.85L524.53 639.35L445.72 593.85L445.72 502.85zM524.53 1003.35L603.34 1048.85L603.34 1139.85L524.53 1185.35L445.72 1139.85L445.72 1048.85zM839.78 1003.35L918.59 1048.85L918.59 1139.85L839.78 1185.35L760.96 1139.85L760.96 1048.85zM997.4 -88.65L1076.21 -43.15L1076.21 47.85L997.4 93.35L918.59 47.85L918.59 -43.15zM997.4 457.35L1076.21 502.85L1076.21 593.85L997.4 639.35L918.59 593.85L918.59 502.85zM1312.64 730.35L1391.45 775.85L1391.45 866.85L1312.64 912.35L1233.83 866.85L1233.83 775.85zM1391.45 866.85L1470.26 912.35L1470.26 1003.35L1391.45 1048.85L1312.64 1003.35L1312.64 912.35zM1312.64 1003.35L1391.45 1048.85L1391.45 1139.85L1312.64 1185.35L1233.83 1139.85L1233.83 1048.85zM1627.88 184.35L1706.69 229.85L1706.69 320.85L1627.88 366.35L1549.07 320.85L1549.07 229.85zM1943.12 -88.65L2021.93 -43.15L2021.93 47.85L1943.12 93.35L1864.31 47.85L1864.31 -43.15z' stroke='rgba(3%2c 48%2c 93%2c 0.76)' stroke-width='2'%3e%3c/path%3e%3cpath d='M42.57 -88.65 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM121.38 -43.15 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM121.38 47.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM42.57 93.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM-36.24 47.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM-36.24 -43.15 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM42.57 1003.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM121.38 1048.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM121.38 1139.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM42.57 1185.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM-36.24 1139.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM-36.24 1048.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM200.19 184.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM279 229.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM279 320.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM200.19 366.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM121.38 320.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM121.38 229.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM357.81 -88.65 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM436.62 -43.15 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM436.62 47.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM357.81 93.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM279 47.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM279 -43.15 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM436.62 593.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM515.43 639.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM515.43 730.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM436.62 775.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM357.81 730.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM357.81 639.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM515.43 457.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM594.24 502.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM594.24 593.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM436.62 502.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM515.43 1003.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM594.24 1048.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM594.24 1139.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM515.43 1185.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM436.62 1139.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM436.62 1048.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM830.68 1003.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM909.49 1048.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM909.49 1139.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM830.68 1185.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM751.86 1139.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM751.86 1048.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM988.3 -88.65 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1067.11 -43.15 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1067.11 47.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM988.3 93.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM909.49 47.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM909.49 -43.15 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM988.3 457.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1067.11 502.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1067.11 593.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM988.3 639.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM909.49 593.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM909.49 502.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1303.54 730.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1382.35 775.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1382.35 866.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1303.54 912.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1224.73 866.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1224.73 775.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1461.16 912.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1461.16 1003.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1382.35 1048.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1303.54 1003.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1382.35 1139.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1303.54 1185.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1224.73 1139.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1224.73 1048.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1618.78 184.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1697.59 229.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1697.59 320.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1618.78 366.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1539.97 320.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1539.97 229.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1934.02 -88.65 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM2012.83 -43.15 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM2012.83 47.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1934.02 93.35 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1855.21 47.85 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0zM1855.21 -43.15 a9.1 9.1 0 1 0 18.2 0 a9.1 9.1 0 1 0 -18.2 0z' fill='rgba(3%2c 48%2c 93%2c 0.76)'%3e%3c/path%3e%3cpath d='M0 -142L122.98 -71L122.98 71L0 142L-122.98 71L-122.98 -71zM122.98 71L245.96 142L245.96 284L122.98 355L0 284L0 142zM0 284L122.98 355L122.98 497L0 568L-122.98 497L-122.98 355zM122.98 497L245.96 568L245.96 710L122.98 781L0 710L0 568zM0 710L122.98 781L122.98 923L0 994L-122.98 923L-122.98 781zM122.98 923L245.96 994L245.96 1136L122.98 1207L0 1136L0 994zM245.96 -142L368.94 -71L368.94 71L245.96 142L122.98 71L122.98 -71zM368.94 71L491.92 142L491.92 284L368.94 355L245.96 284L245.96 142zM245.96 284L368.94 355L368.94 497L245.96 568L122.98 497L122.98 355zM368.94 497L491.92 568L491.92 710L368.94 781L245.96 710L245.96 568zM245.96 710L368.94 781L368.94 923L245.96 994L122.98 923L122.98 781zM368.94 923L491.92 994L491.92 1136L368.94 1207L245.96 1136L245.96 994zM491.92 -142L614.9 -71L614.9 71L491.92 142L368.94 71L368.94 -71zM614.9 71L737.87 142L737.87 284L614.9 355L491.92 284L491.92 142zM491.92 284L614.9 355L614.9 497L491.92 568L368.94 497L368.94 355zM614.9 497L737.87 568L737.87 710L614.9 781L491.92 710L491.92 568zM491.92 710L614.9 781L614.9 923L491.92 994L368.94 923L368.94 781zM614.9 923L737.87 994L737.87 1136L614.9 1207L491.92 1136L491.92 994zM737.87 -142L860.85 -71L860.85 71L737.87 142L614.9 71L614.9 -71zM860.85 71L983.83 142L983.83 284L860.85 355L737.87 284L737.87 142zM737.87 284L860.85 355L860.85 497L737.87 568L614.9 497L614.9 355zM860.85 497L983.83 568L983.83 710L860.85 781L737.87 710L737.87 568zM737.87 710L860.85 781L860.85 923L737.87 994L614.9 923L614.9 781zM860.85 923L983.83 994L983.83 1136L860.85 1207L737.87 1136L737.87 994zM983.83 -142L1106.81 -71L1106.81 71L983.83 142L860.85 71L860.85 -71zM1106.81 71L1229.79 142L1229.79 284L1106.81 355L983.83 284L983.83 142zM983.83 284L1106.81 355L1106.81 497L983.83 568L860.85 497L860.85 355zM1106.81 497L1229.79 568L1229.79 710L1106.81 781L983.83 710L983.83 568zM983.83 710L1106.81 781L1106.81 923L983.83 994L860.85 923L860.85 781zM1106.81 923L1229.79 994L1229.79 1136L1106.81 1207L983.83 1136L983.83 994zM1229.79 -142L1352.77 -71L1352.77 71L1229.79 142L1106.81 71L1106.81 -71zM1352.77 71L1475.75 142L1475.75 284L1352.77 355L1229.79 284L1229.79 142zM1229.79 284L1352.77 355L1352.77 497L1229.79 568L1106.81 497L1106.81 355zM1352.77 497L1475.75 568L1475.75 710L1352.77 781L1229.79 710L1229.79 568zM1229.79 710L1352.77 781L1352.77 923L1229.79 994L1106.81 923L1106.81 781zM1352.77 923L1475.75 994L1475.75 1136L1352.77 1207L1229.79 1136L1229.79 994zM1475.75 -142L1598.73 -71L1598.73 71L1475.75 142L1352.77 71L1352.77 -71zM1598.73 71L1721.71 142L1721.71 284L1598.73 355L1475.75 284L1475.75 142zM1475.75 284L1598.73 355L1598.73 497L1475.75 568L1352.77 497L1352.77 355zM1598.73 497L1721.71 568L1721.71 710L1598.73 781L1475.75 710L1475.75 568zM1475.75 710L1598.73 781L1598.73 923L1475.75 994L1352.77 923L1352.77 781zM1598.73 923L1721.71 994L1721.71 1136L1598.73 1207L1475.75 1136L1475.75 994zM1721.71 -142L1844.69 -71L1844.69 71L1721.71 142L1598.73 71L1598.73 -71zM1844.69 71L1967.67 142L1967.67 284L1844.69 355L1721.71 284L1721.71 142zM1721.71 284L1844.69 355L1844.69 497L1721.71 568L1598.73 497L1598.73 355zM1844.69 497L1967.67 568L1967.67 710L1844.69 781L1721.71 710L1721.71 568zM1721.71 710L1844.69 781L1844.69 923L1721.71 994L1598.73 923L1598.73 781zM1844.69 923L1967.67 994L1967.67 1136L1844.69 1207L1721.71 1136L1721.71 994z' stroke='rgba(6%2c 80%2c 156%2c 0.67)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1609'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.within4 {
    border: 3px dashed;
    width: auto;
    height: -webkit-fill-available;
    margin: 3%;
    padding-top: 1rem;
    color: #ffffff;
    position: relative;
}

.container4 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.techsTitle {
    font-size: 4rem;
    font-weight: 500;
    flex: auto;
}

.containerTechs {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemTechs {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    margin: 1rem;
    flex-direction: column;
}

.textTech {
    margin-top: inherit;
}

.imageTech {
    max-width: 12rem;
    -moz-animation: spinHorizontal 10s infinite linear;
    -o-animation: spinHorizontal 10s infinite linear;
    -webkit-animation: spinHorizontal 10s infinite linear;
    animation: spinHorizontal 10s infinite linear;
}
@media only screen and (max-width: 1430px) {
    .itemTechs {
        max-width: 200px !important;
        max-width: 200px !important;
     margin: 0;
    }
    .imageTech {
        max-width: 8rem !important;
                       
    }
  
    .textTech {
        font-size: 2rem !important;
    }
}
@-moz-keyframesrgb(224, 10, 10)rizontal {
    0% {
        -moz-transform: rotateY(0deg);
    }
    100% {
        -moz-transform: rotateY(360deg);
    }
}

@keyframes spinHorizontal {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@-ms-keyframes spinHorizontal {
    0% {
        -ms-transform: rotateY(0deg);
    }
    100% {
        -ms-transform: rotateY(360deg);
    }
}

@-o-keyframes spinHorizontal {
    0% {
        -o-transform: rotateY(0deg);
    }
    100% {
        -o-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinHorizontal {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

